<%= form_with(model: weight_set, local: true) do |form| %>
  <% if weight_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weight_set.errors.count, "error") %> prohibited this weight_set from being saved:</h2>

      <ul>
      <% weight_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, id: :weight_set_weight %>
  </div>

  <div class="field">
    <%= form.label :reps %>
    <%= form.text_field :reps, id: :weight_set_reps %>
  </div>

  <div class="field">
    <%= form.label :exercise_session %>

      <%= form.collection_select(:exercise_session_id, current_user.exercise_sessions, :id, :date, prompt: true) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
