<p id="notice"><%= notice %></p>

<h1>Weight Sets</h1>

<%= link_to 'New Weight Set', new_weight_set_path %>

<br>

<table>
  <thead>
    <tr>
      <th>Weight</th>
      <th>Reps</th>
      <th>Exercise session</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weight_sets.each do |weight_set| %>
      <tr>
        <td><%= weight_set.weight %></td>
        <td><%= weight_set.reps %></td>
        <td><%= weight_set.exercise_session_id %></td>
        <td><%= weight_set.user.email %></td>
        <td><%= link_to 'Show', weight_set %></td>
        <td><%= link_to 'Edit', edit_weight_set_path(weight_set) %></td>
        <td><%= link_to 'Destroy', weight_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




