<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @weight_set.weight %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @weight_set.reps %>
</p>

<p>
  <strong>Exercise session:</strong>
  <%= @weight_set.exercise_session %>
</p>


<%= link_to 'Edit', edit_weight_set_path(@weight_set) %> |
<%= link_to 'Back', weight_sets_path %>
