I am a show! Rowlet
<p></p>
<p></p> ID: <%= @weight_set.id %>
<p></p> User ID: <%= @weight_set.user_id %>
<p></p> Weight: <%= @weight_set.weight %>
<p></p> Reps: <%= @weight_set.reps %>
<p></p> Exercise Session ID: <%= @weight_set.exercise_session_id %>
<p></p>
