<%= form_with(model: exercise_type, local: true) do |form| %>
  <% if exercise_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise_type.errors.count, "error") %> prohibited this exercise_type from being saved:</h2>

      <ul>
      <% exercise_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :exercise_type_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :exercise_type_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
