<p id="notice"><%= notice %></p>

<h1>Exercise Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_types.each do |exercise_type| %>
      <tr>
        <td><%= exercise_type.name %></td>
        <td><%= exercise_type.description %></td>
        <td><%= link_to 'Show', exercise_type %></td>
        <td><%= link_to 'Edit', edit_exercise_type_path(exercise_type) %></td>
        <td><%= link_to 'Destroy', exercise_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise Type', new_exercise_type_path %>
