<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= display_date(@exercise_session) %>
</p>

<p>
  <strong>Type name:</strong>
  <%= @exercise_session.exercise_type.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= @exercise_session.exercise_program.name %>
</p>



<%= link_to 'Edit', edit_exercise_session_path(@exercise_session) %> |
<%= link_to 'Back', exercise_sessions_path %>
