I am a show! Piplup
<p></p>
<p></p> ID: <%= @exercise_session.id %>
<p></p> User ID: <%= @exercise_session.user_id %>
<p></p> Date: <%= @exercise_session.date %>
<p></p> Type: <%= @exercise_session.type_name %>
<p></p> Program: <%= @exercise_session.program %>
<p></p>

