<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @exercise_session.date %>
</p>

<p>
  <strong>Type name:</strong>
  <%= ExerciseType.where(id: @exercise_session.exercise_type_id).first.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= ExerciseProgram.where(id: @exercise_session.exercise_program_id).first.name %>
</p>



<%= link_to 'Edit', edit_exercise_session_path(@exercise_session) %> |
<%= link_to 'Back', exercise_sessions_path %>
