<p id="notice"><%= notice %></p>

<h1>General Stats</h1>

<%= link_to 'New General Stat', new_general_stat_path %><table>
<br>
<%= link_to 'Previous', general_stats_path(page: @page.to_i - 1) %>
<%= link_to 'Next', general_stats_path(page: @page.to_i + 1) %>

  <br>

  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Weight avg</th>
      <th>Cal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_stats.each do |general_stat| %>
      <tr>
        <td><%= display_date(general_stat) %></td>
        <td><%= general_stat.weight %></td>
        <td><%= general_stat.weight_avg %></td>
        <td><%= general_stat.cal %></td>
        <td><%= link_to 'Show', general_stat %></td>
        <td><%= link_to 'Edit', edit_general_stat_path(general_stat) %></td>
        <td><%= link_to 'Destroy', general_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
