<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= display_date(@general_stat) %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @general_stat.weight %>
</p>

<p>
  <strong>Weight avg:</strong>
  <%= @general_stat.weight_avg %>
</p>

<p>
  <strong>Cal:</strong>
  <%= @general_stat.cal %>
</p>


<%= link_to 'Edit', edit_general_stat_path(@general_stat) %> |
<%= link_to 'Back', general_stats_path %>
