I am a show! Torchic.
<p></p>
<p></p> ID: <%= @general_stat.id %>
<p></p> User ID: <%= @general_stat.user_id %>
<p></p> Date: <%= @general_stat.date %>
<p></p> Weight: <%= @general_stat.weight %>
<p></p> Average weight for the prior 7 days: <%= @general_stat.weight_avg %>
<p></p> Kilocalories consumed this day: <%= @general_stat.cal %>
<p></p>
