<!DOCTYPE html>
<!--
This is on every page
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div>
     <ul>
       <% if current_user %>
         <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
         <!-- THIS IS BETTER THAN A <a href="blargh" /> -->
         <!-- link_to(text, url, options) we can add a third 'options' param/> -->
       <% else %>
         <li><%= link_to "Sign Up", new_user_registration_path %></li>
         <% #link_to("Sign up", "users/sign_up/"), this is how we'd do it without a method hahaha
      # = <-- this equal will cause problems because it will try to render whatever's inside,
      # and if it's a comment, nothing happens LOL
       %>
         <li><%= link_to "Sign In", new_user_session_path %></li>
       <% end %>
     </ul>
      <!-- for Ken: this is supposed to be part of something on every page: 
it'll allow anyone to readily switch to the 'general stats', 'exercise sessions' and 'weight sets' links-->
      <br>
       <ul>
         <!-- link_to(text, url, options) we can add a third 'options' param/> -->
         <li><%= link_to "General Stats", general_stats %></li>
         <li><%= link_to "Exercise Sessions", exercise_sessions %></li>
         <li><%= link_to "Weight Sets", weight_sets %></li>
      </ul>
<!-- end possibly broken/buggy code--> 
   </div>


    <%= yield %>
    <!--
yield gets replaced with whatever *.erb file the router is currently 'pointing' to/at   -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
